.metadata
.recommenders

RemoteSystemsTempFiles/

2_heranca-Reescrita-polimorfismo/bin
2_heranca-Reescrita-polimorfismo/.settings
2_heranca-Reescrita-polimorfismo/.classpath
2_heranca-Reescrita-polimorfismo/.project
